/* DOCUMENT SYLING */

* {
    color: #686868
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAKE HEADER STICKY */

.make-sticky {
  position: sticky;
  top: 0px;
}

/* HEADING STYLING */

.heading {
    padding: 10px;
    background-color: white;
}

/* MENU STYLING */

.menu {
    overflow: hidden;
    background-color: #c11616;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
}

.menu a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.menu a.active {
    background-color: #000000;
    color: white;
}

/* DOCUMENT TEXT SYLING */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
    text-align: left;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}

/* MAIN SECTIONS SYLING */

.two-col-layout {
display: flex;
}

.about-left-container {

}

.about-right-container {
    margin-right: 1.5em
}

.portfolio-left-container {
    max-width: 50%;
    margin-left: 25px;
    margin-right: 12px;
    margin-top: 10px;
}

.portfolio-right-container {
    max-width: 50%;
    margin-right: 25px;
    margin-left: 12px;
    margin-top: 10px;
}

/* Cause the portfolio image to be restricted to the size of the div it is in and ensure text underneath aligns */

.contain-image img {
    height: 100%; width: 100%; 
}

.projects-text {
    margin-left: 0px;
}

